<main>


  <% movie.forEach(item=>{ %>
  

      <div class="movie_card" id="bright">
        <div class="info_section">
          <div class="movie_header">
            <img class="locandina" src=<%= item.image %> >
            <h1><%= item.title %></h1>
            <h4><%= item.year %></h4>
            <span class="minutes"><%= item.runtime%></span>
            <p class="type"><%= item.genre %> </p>
          </div>
          <div class="movie_desc">
            <p class="text">
              <%= item.plot %>
            </p>
          </div>
          <div class="video-div">
            <iframe width="727" height="409" src="<%= item.trailer%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
            <%})  %>





</main>

