<main>

  <% movie.forEach(item=>{ %>
      <div>
          <img src=<%= item.image %> alt="image">
          <h3><%= item.title %></h3>
          <h4><%= item.year %></h4>
          <h5><%= item.runtime %></h5>
          <p><%= item.plot %></p>
         <h4><%= item.imdb_rate %></h4>
     
        <script>
        $('body').css('backgroundImage','url(<%= item.image%>)');
        </script>
        <iframe width="900" height="450"  src= "<%= item.trailer%>" frameborder="0" allowfullscreen></iframe>
        <%})  %>
      </div> 
</main>